.stat {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img {
  width: 150px;
  height: 150px;
}

.type {
  font-size: 0.8rem;
  display: flex;
  border: 3px dashed white;
  padding: 5px;
  margin: 2px;
}

.typeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 250px;
}

.icono {
  height: 50%;
}
