/* $alt-button-background: #F7D51D;
$alt-sec-button-background: #F2C409;
$alt-shadow-color:  #E59400;

$reset-button-background: #E76E55;
$reset-sec-button-background: #CE372B;
$reset-shadow-color:  #8C2022; */

.eightbitbtn {
  background: #92cd41;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4aa52e;
}

.eightbitbtn:hover {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4aa52e;
}

.eightbitbtn:hover:active {
  box-shadow: inset 4px 4px 0px 0px #4aa52e;
}

.eightbitbtn2 {
  background: #a0afb1;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #40413f;
}

.eightbitbtn2:hover {
  background: #929595;
  box-shadow: inset -6px -6px 0px 0px #40413f;
}

.eightbitbtn2:hover:active {
  box-shadow: inset 4px 4px 0px 0px #40413f;
}
