.eightbitbtn {
  border: none;
  background: #92cd41;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4aa52e;
  text-transform: uppercase;
}

.eightbitbtn:hover {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4aa52e;
  transform: scale(1.01);
}

.eightbitbtn:hover:active {
  box-shadow: inset 4px 4px 0px 0px #4aa52e;
  transform: scale(1);
}

.eightbitbtn2 {
  background: #a0afb1;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #40413f;
}

.eightbitbtn2:hover {
  background: #929595;
  box-shadow: inset -6px -6px 0px 0px #40413f;
}

.eightbitbtn2:hover:active {
  box-shadow: inset 4px 4px 0px 0px #40413f;
}
