.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "Press Start 2P", cursive;
  color: white;
  padding-bottom: 50px;
}

.cardsContainer {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.select {
  width: 400px;
  height: 50px;
  border: 3px dashed white;
  background-color: black;
  margin-right: 10px;
  color: white;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
}

.optionSelect {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  color: rgba(255, 255, 255, 0.644);
  font-size: 1rem;
  text-transform: uppercase;
}

.buttonSearch {
  border: none;
  height: 53px;
  font-family: "Press Start 2P", cursive;
  background-color: white;
}

.buttonSearch:hover {
  background-color: rgb(16, 145, 231);
}

.space {
  background-color: black;
  height: 25vh;
}
