.list {
  width: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0px;
  gap: 20px;
}

.listItem {
  list-style: none;
  cursor: pointer;
}

.listItem:hover {
  color: rgb(16, 145, 231);
}

.listContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
